<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/image/favicon.jpg" type="image/x-icon" />
    <!-- font google -->
    <link href="https://fonts.googleapis.com/css2?family=Palanquin&family=Poppins:wght@400&display=swap" rel="stylesheet" />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css -->
    <link rel="stylesheet" href="/css/akademik/akademik.css" type="text/css" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha284-T2c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Teknik Informatika</title>
  </head>
  <body>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container-fluid">
        <a class="navbar-brand pe-3" href="#">
          <img src="/image/logo nav.jpg" alt="logo-nav" width="200" height="50" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">TENTANG</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Fasilitas</a></li>
                      <li><a class="dropdown-item" href="#">Lab Komputer</a></li>
                      <li><a class="dropdown-item" href="#">Auditorium</a></li>
                      <li><a class="dropdown-item" href="#">Poliklinik</a></li>
                      <li><a class="dropdown-item" href="#">Ruang Kelas</a></li>
                      <li><a class="dropdown-item" href="#">Ruang Radio</a></li>
                      <li><a class="dropdown-item" href="#">Perpustakaan</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">ADMISI PENDAFTARAN</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Regular I</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Regular II</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">PROGRAM/AKADEMIK</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Fakultas Teknik Dan Informatika</a></li>
                      <li><a class="dropdown-item" href="#">Teknik Electro</a></li>
                      <li><a class="dropdown-item text-primary" href="/views/akademik/index.html">Teknik Informatika</a></li>
                      <li><a class="dropdown-item" href="#">Teknik Mesin</a></li>
                      <li><a class="dropdown-item" href="#">Teknik Sipil</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">KANTOR/LAYANAN</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">DUNIA KAMPUS</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">BERITA&ACARA</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Info Undira</a></li>
                      <li><a class="dropdown-item" href="#">Undira Peduli</a></li>
                      <li><a class="dropdown-item" href="#">Covid</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item text-primary" href="/views/event/index.html">Event</a></li>
                      <li><a class="dropdown-item" href="#">Webinar</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
          </ul>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-secondary mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-magnifying-glass"></i></button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <a class="navbar-brand" href="#">
            <img src="/image/indonesia.png" alt="logo-nav" width="50" height="35" />
          </a>
          <a class="navbar-brand" href="#">
            <img src="/image/inggris.jpg" alt="logo-nav" width="50" height="35" />
          </a>
        </div>
      </div>
    </nav>
    <!-- end navbar -->
    <!-- jumbotron -->
    <div class="container-fluid picture-jumbo object-fit-cover justify-content-center">
      <div class="container text-light">
        <h1 class="display-4">Teknik Informatika</h1>
        <p>Universitas Dian Nusantara / Program Akademik / Fakultas Teknik dan Informatika / Teknik Informatika</p>
      </div>
    </div>
    <!-- end jumbotron -->
    <!-- faculity -->
    <div class="container">
      <div class="row mt-5 mx-5 pt-3 text-center">
        <div class="col-md-12 col-lg-12">
          <div class="my-3 fs-3 fw-bold">Fakultas Teknik dan Informatika</div>
          <div class="d-flex justify-content-center mb-1">
            <div class="electro">
              <a class="deco-font" href="#">
                <img class="img-w10" src="/image/akademik/electro.png" alt="electro" />
                <div class="font-desc">Teknik Electro</div>
              </a>
            </div>
            <div class="informatika">
              <a class="deco-font" href="#">
                <img class="img-w10" src="/image/akademik/informatika.png" alt="informatika" />
                <div class="font-desc">Teknik Informatika</div>
              </a>
            </div>
            <div class="mesin">
              <a class="deco-font" href="#">
                <img class="img-w10" src="/image/akademik/mesin.png" alt="mesin" />
                <div class="font-desc">Teknik Mesin</div>
              </a>
            </div>
            <div class="sipil">
              <a class="deco-font" href="#">
                <img class="img-w10" src="/image/akademik/sipil.png" alt="sipil" />
                <div class="font-desc text12">Teknik Sipil</div>
              </a>
            </div>
          </div>
          <div class="container my-3 px-5 py-2 text-start">
            <ol>
              <li class="mb-1">
                <div class="title">
                  <strong>Deskripsi Program Studi Teknik Informatika</strong>
                </div>
                <p class="text">
                  Program Studi Teknik Informatika merupakan program studi yang menekankan pada kemampuan dalam merancang, mengembangkan ragam algoritma komputasi (teori komputasi dan algoritma) yang mencakup spektrum yang sangat beragam
                  dari hal hal yang teoritis dan algoritmis hingga yang bersifat terapan. Program Studi Teknik Informatika memiliki 3 fokus utama yaitu :
                </p>
                <div class="unstyle-list">
                  <ul class="style-list">
                    <li>
                      <p>Mempelajari teori maupun algoritma yang digunakan dalam proses perancangan dan implementasi perangkat lunak.</p>
                    </li>
                    <li>
                      <p>Mempelajari teori maupun algoritma yang digunakan dalam proses perancangan dan implementasi sistem perangkat keras serta komponennya.</p>
                    </li>
                    <li>
                      <p>Mempelajari teori maupun algoritma yang digunakan sebagai model matematis dalam menyelesaikan permasalahan tertentu</p>
                    </li>
                  </ul>
                </div>
                <p class="text">
                  Kurikulum Program Studi Teknik Informatika terdiri dari ilmu pengetahuan terkait dengan logika matematika, komputasi, dan algoritma yang dalam model terapannya dinyatakan dalam pengembangan program komputer.
                </p>
              </li>
              <li class="mb-1">
                <div class="title">
                  <strong>Visi dan Misi Program Studi Teknik Informatika</strong>
                </div>
                <strong>Visi</strong>
                <p class="text">
                  “Menjadi program studi terpercaya dan profesional yang berwawasan global untuk memenuhi kebutuhan dunia industri dan kewirausahaan berbasis ilmu pengetahuan dan teknologi dalam bidang keahlian network enterprise engineer
                  dan software engineer pada tahun 2030.”
                </p>
                <strong>Misi</strong>
                <div class="unstyle-list">
                  <ul class="style-list">
                    <li>
                      <p>Menyelenggarakan pengajaran, penelitian, dan pengabdian kepada kewirausahaan masyarakat bidang network enterprise engineer dan software engineer yang bermutu, terpercaya dan profesional.</p>
                    </li>
                    <li>
                      <p>Mengembangkan kemampuan dan keterampilan mahasiswa melalui berbagai kegiatan untuk memenuhi kebutuhan dunia industri dan secara berkesinambungan dalam bidang network enterprise engineer dan software engineer.</p>
                    </li>
                    <li>
                      <p>Menyediakan sarana dan prasarana pendukung proses belajar mengajar bidang network enterprise engineer dan software engineer terkini yang tepat guna melampaui standar mutu Pendidikan Tinggi Nasional.</p>
                    </li>
                    <li>
                      <p>Menerapkan tata kelola program studi yang efektif dan efisien melalui lingkungan kerja yang harmonis dan produktif</p>
                    </li>
                    <li>
                      <p>Membangun kerjasama dan hubungan yang sinergis dengan seluruh pemangku kepentingan dalam bidang teknik informatika</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <div class="title">
                  <strong>Tujuan Program Studi Teknik Informatika</strong>
                </div>
                <div class="unstyle-list">
                  <ul class="style-list">
                    <li>
                      <p>
                        Menghasilkan lulusan yang cerdas, berakhlak mulia, beretika, kompeten, dan berdaya saing tinggi serta mampu mengembangkan sains dan teknologi bidang network enterprise engineer dan software engineer, baik di tingkat
                        nasional maupun global
                      </p>
                    </li>
                    <li>
                      <p>Menghasilkan penelitian unggulan dan inovasi yang mendorong pengembangan sains dan teknologi bidang network enterprise engineer dan software engineer dalam skala nasional maupun global</p>
                    </li>
                    <li>
                      <p>
                        Menghasilkan pengabdian kepada masyarakat sebagai hasil kegiatan pendidikan dan penelitian bidang network enterprise engineer dan software engineer dalam rangka membantu memberdayakan masyarakat agar mampu
                        menyelesaikan masalah secara cerdas, mandiri, dan berkelanjutan
                      </p>
                    </li>
                    <li>
                      <p>Mewujudkan kemandirian program studi yang adaptif, kreatif, proaktif, dan berkualitas terhadap tuntutan perkembangan teknologi yang berdampak terhadap terwujudnya good university governance</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <div class="title">
                  <strong>Profil Lulusan Program Studi Teknik Informatika</strong>
                </div>
                <div class="unstyle-list">
                  <ul class="style-list">
                    <li>
                      <strong> Software Engineer </strong>
                      <p>
                        Software engineer merupakan salah satu profesi di bidang teknologi informasi. Seorang software engineer bertugas melakukan analisa, membuat rekayasa, menyusun spesifikasi, mengimplementasikan, dan memvalidasi suatu
                        rancangan sistem perangkat lunak untuk menjawab suatu permasalahan. Dalam bahasa sederhana memiliki peran dalam pengembangan perangkat lunak untuk berbagai keperluan. Misalnya, perangkat lunak untuk pendidikan,
                        telekomunikasi, bisnis, hiburan, dan lain-lain, termasuk perangkat lunak untuk model dan simulasi.
                      </p>
                      <p>
                        Mengutip ekrut.com, software engineer merupakan pekerjaan yang paling dibutuhkan alias banyak dicari sepanjang 2018 sampai dengan saat ini. Bukan hanya software engineer, terjadi peningkatan jumlah perusahaan yang
                        membuka lowongan di bidang IT, dengan rata-rata kebutuhan meningkat hingga 500%. Dilansir dari Kompas, salah satu profesi yang dihargai mahal di perusahaan e-commerce di Indonesia adalah software engineer dengan gaji
                        Rp23.000.000,00 per bulan Seorang software engineer dapat memperoleh gaji rata-rata dengan rentang Rp5.000.000 sampai Rp8.000.000 per bulan. Bahkan, semakin lama pengalaman kerja seorang software engineer gaji yang
                        akan diperoleh bisa semakin tinggi, yaitu sekitar Rp30.000.000 per bulan bahkan lebih.
                      </p>
                    </li>
                    <li>
                      <strong>Network Enterprise Engineer</strong>
                      <p>
                        Network enterprise engineer merupakan profesi yang memiliki kontribusi pada desain, implementasi, dan manajemen berkelanjutan dari jaringan komputer pada sebuah perusahaan. Network enterprise engineer juga melakukan
                        analisa dan mendesain model jaringan terkait dengan kapasitas dan performa untuk meningkatkan keandalan dan ketahanan jaringan serta layanannya. Seorang network enterprise engineer memastikan kinerja jaringan pada
                        perusahan berjalan dengan optimal.
                      </p>
                      <p>
                        Seorang network enterprise engineer dapat memperoleh gaji rata-rata dengan rentang Rp5.000.000 sampai Rp12.000.000 per bulan. Bahkan, semakin lama pengalaman kerja seorang network enterprise engineer angka gaji bisa
                        semakin tinggi, yaitu sekitar Rp30.000.000 per bulan.
                      </p>
                    </li>
                    <li>
                      <strong>Technopreneur</strong>
                      <p>
                        Technopreneurship adalah entrepreneurship dalam bidang teknologi di mana keahlian yang dibutuhkan tak lagi hanya wirausaha, tetapi juga pengetahuan akan teknologi mutakhir. Istilah ini bisa dibilang baru dan kian
                        populer bersama dengan berkembangnya teknologi. Seorang technopreneurship harus memiliki kecerdasan, inovatif, suka teknologi, dan berani mengambil resiko. Istilah technopreneur dikenal bagi seorang pengusaha startup
                        atau bisnis rintisan yang memanfaatkan teknologi sebagai basis bisnisnya.<br />Technopreneurship adalah entrepreneurship dalam bidang teknologi di mana keahlian yang dibutuhkan tak lagi hanya wirausaha, tetapi juga
                        pengetahuan akan teknologi mutakhir. Istilah ini bisa dibilang baru dan kian populer bersama dengan berkembangnya teknologi. Seorang technopreneurship harus memiliki kecerdasan, inovatif, suka teknologi, dan berani
                        mengambil resiko. Istilah technopreneur dikenal bagi seorang pengusaha startup atau bisnis rintisan yang memanfaatkan teknologi sebagai basis bisnisnya.<br />Menekuni profesi technopreneur, kamu sebagai founder bisa
                        menempati posisi Chief Executive Officer (CEO) atau executive director atau posisi lain yang relevan dengan bidang keahlianmu karena biasanya, pengembangan bisnis dengan basis teknologi ini dilakukan secara
                        berkelompok. Keren deh pokoknya! Dengan menjadi technopreneur kamu juga bisa berkontribusi dalam mengentaskan pengangguran lho. Apalagi kalau usahamu sudah berkembang pesat, wah bisa jadi akan semakin banyak orang
                        yang kamu rekrut.
                      </p>
                    </li>
                    <li>
                      <strong>Studi Lanjut </strong>
                      <p>
                        Memiliki kesempatan untuk melanjutkan studi ke jenjang S2 dan S3. Selain bidang-bidang profesional di atas, sarjana Teknik Informatika juga dapat bekerja di bidang lainnya. Misalnya di bidang pendidikan atau dalam
                        bidang keilmuan dengan menjadi peneliti di lembaga-lembaga penelitian seperti di LIPI, BPPT, serta Badan Penelitian dan Pengembangan di perusahaan.<br />Terwujudnya kerjasama yang sinergis dengan berbagai pemangku
                        kepentingan dalam meningkatkan kualitas kegiatan Tridharma Perguruan Tinggi
                      </p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <div class="title">
                  <strong>Mengapa memilih Program Studi Teknik Informatika</strong>
                </div>
                <p class="text">
                  Teknik Informatika merupakan bidang ilmu yang mempelajari bagaimana menggunakan teknologi komputer secara optimal guna menangani masalah transformasi atau pengolahan data dengan proses logika. Di Jurusan Teknik Informatika
                  kamu akan mempelajari berbagai prinsip terkait ilmu komputer mulai dari proses perancangan, pengembangan, pengujian, hingga evaluasi sistem operasi perangkat lunak. Selama kuliah kamu akan banyak mengkaji pemrograman dan
                  komputasi, dan dibekali pula dengan keterampilan merancang perangkat lunak. <br />
                  <br />Dengan semakin pesatnya perkembangan teknologi membuat Jurusan Teknik Informatika menjadi salah satu jurusan yang memiliki banyak peminat. Pada SBMPTN 2021, Jurusan Teknik Informatika menjadi 5 besar jurusan paling
                  diminati di rumpun saintek. Tidaklah mengherankan, karena jenis pekerjaan menjanjikan di masa depan berhubungan erat dengan lulusan dari jurusan ini. Belum lagi, besaran penghasilan yang berpotensi didapatkan pun sangatlah
                  besar. <br />
                  <br />Indonesia saat ini kekurangan tenaga ahli di bidang sains, teknologi, engineering, dan matematika (STEM). Jumlah lulusan di bidang STEM masih belum mencukupi kebutuhan yang ada di era revolusi industri 4.0. Prodi
                  Teknik Informatika Universitas Dian Nusantara hadir dan berkomitmen untuk memenuhi kebutuhan Industri. Pengetahuan dan keahlian yang akan diperoleh dengan kuliah di Program Studi Teknik Informatika adalah kemampuan
                  melakukan analisis, berpikir logis, berpikir sistematis, problem solving, bekerja secara mandiri maupun tim, memahami bahasa pemrograman, rekayasa informatika dan jaringan komputer serta kreatif, tekun, teliti, dan detail.
                  <br />
                  <br />Program Studi Teknik Informatika Universitas Dian Nusantara berdiri pada tahun 2019 dan dalam 2 tahun telah mendapatkan kepercayaan dengan jumlah mahasiswa saat ini adalah 900 mahasiswa. Hal ini menjadi salah satu
                  alasan untuk bergabung dengan kami. Program Studi Teknik Informatika memiliki sumber daya manusia (dosen) dengan kualifikasi S2 dan S3 serta memiliki sertifikasi kompetensi profesional sesuai bidang keilmuannya. <br />
                  <br />Dalam proses belajar dan mengajar, Program Studi Teknik Informatika Universitas Dian Nusantara dilengkapi dengan Learning Management System (LMS) https://kuliahonline.undira.ac.id/ yang bisa diakses kapan saja dan di
                  mana saja, serta terintegrasi ke SPADA DIKTI. Untuk beberapa mata kuliah terintegrasi dengan academy international seperti Oracle Academy, Red Hat Academy dan Huawei Academy, sehingga mahasiswa nanti akan mendapatkan
                  sertifikat attendance course dan kesempatan untuk mendapatkan sertifikasi internasional. <br />
                  <br />Program Studi Teknik Informatika Universitas Dian Nusantara memiliki kurikulum yang selalu update dan juga sudah mengimplementasikan Program MBKM https://kampusmerdeka.kemdikbud.go.id/ untuk 8 bentuk kegiatan
                  pembelajaran yaitu pertukaran pelajar, magang atau praktek kerja, Asistensi mengajar di satuan pendidikan, penelitian atau riset, proyek kemanusiaan, kegiatan wirausaha, studi/proyek independen dan membangun desa atau
                  kuliah kerja nyata tematik (KKNT). Untuk semester ganjil 2021/2022 telah diikuti oleh 6 mahasiswa bentuk kegiatan pembelajaran studi/proyek independen pada Dicoding - Pengembang Front-End Web dan Back-End, Dicoding -
                  Pengembang Aplikasi Multi-Platform dan Back-End, Talent Scouting Academy - The Future of IT Infrastructure and Cyber Security Analyst : Cybersecurity Analyst.
                </p>
              </li>
              <!-- kurikulum -->
              <li class="mb-1">
                <div class="title mb-4">
                  <strong class="mb-1">Kurikulum</strong>
                </div>
                <div class="container">
                  <div class="row text-start">
                    <div class="col-lg-3 col-md-3 px-0">
                      <div class="font-smstr bg-color">Semester 1</div>
                      <ul class="style-bg style-list">
                        <li>Kalkulus</li>
                        <li>Aplikasi Komputer</li>
                        <li>Algoritma & Pemrograman 1</li>
                        <li>Pengantar Sistem Digital</li>
                        <li>Sistem Basis Data</li>
                        <li>Bahasa Indonesia</li>
                        <li>Pancasila</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 px-0">
                      <div class="font-smstr bg-color">Semester 2</div>
                      <ul class="style-bg style-list">
                        <li>Struktur Data dan Algoritma</li>
                        <li>Algoritma & Pemrograman 2</li>
                        <li>Aljabar Linier</li>
                        <li>Pendidikan Karakter</li>
                        <li>Pengantar Organisasi Komputer</li>
                        <li>Kewirausahaan I</li>
                        <li>Perancangan Basis Data</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 px-0">
                      <div class="font-smstr bg-color">Semester 3</div>
                      <ul class="style-bg style-list">
                        <li>Kewirausahaan 2</li>
                        <li>Rekayasa Perangkat Lunak</li>
                        <li>Pemrograman Basis Data</li>
                        <li>Pendidikan Agama</li>
                        <li>Bahasa Inggris 1</li>
                        <li>Sistem Operasi</li>
                        <li>Matematika Diskrit</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 px-0">
                      <div class="font-smstr bg-color">Semester 4</div>
                      <ul class="style-bg style-list">
                        <li>Pemrograman Berorientasi Objek</li>
                        <li>Dasar Pemrograman Web</li>
                        <li>Bahasa Inggris 2</li>
                        <li>Sistem Multimedia</li>
                        <li>Interaksi Manusia-Komputer</li>
                        <li>Kewarganegaraan</li>
                        <li>Pengantar Jaringan Komputer</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 px-0">
                      <div class="font-smstr bg-color">Semester 5</div>
                      <ul class="style-bg style-list">
                        <li>Pengantar Kecerdasan Buatan</li>
                        <li>Statistika dan Probabilitas</li>
                        <li>Komputer dan Masyarakat</li>
                        <li><strong>Pilihan Software Engineer</strong></li>
                        <li>Analisa Pengembangan Perangkat Lunak</li>
                        <li>Pemrograman Web Lanjut</li>
                        <li>Desain Web UI & UX</li>
                        <li>Basis Data Lanjut</li>
                        <li><strong>Pilihan Network Enterprise Engineer</strong></li>
                        <li>Praktikum Pengantar Jaringan Komputer</li>
                        <li>Sistem Operasi Open Source</li>
                        <li>Cloud Computing</li>
                        <li>IT Essential</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 px-0">
                      <div class="font-smstr bg-color">Semester 6</div>
                      <ul class="style-bg style-list">
                        <li>Kerja Praktek</li>
                        <li>Penulisan Karya Ilmiah</li>
                        <li><strong>Pilihan Software Engineer</strong></li>
                        <li>Manajemen Proyek</li>
                        <li>Pemrograman Web Full Stack</li>
                        <li>Pemrograman Android</li>
                        <li>Pengembangan Perangkat Lunak Agile</li>
                        <li><strong>Pilihan Network Enterprise Engineer</strong></li>
                        <li>Switching dan Routing</li>
                        <li>Praktikum Switching dan Routing</li>
                        <li>Keamanan Jaringan Komputer</li>
                        <li>Jaringan Enterprise</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 px-0">
                      <div class="font-smstr bg-color">Semester 7</div>
                      <ul class="style-bg style-list">
                        <li>Metodologi Penelitian Teknologi Informasi</li>
                        <li>English Conversation</li>
                        <li><strong>Pilihan Software Engineer</strong></li>
                        <li>Pemrograman Games</li>
                        <li>Pengenalan Big Data</li>
                        <li>Proyek Perangkat Lunak</li>
                        <li>Implementasi Proyek Perangkat Lunak</li>
                        <li>Keamanan Sistem Informasi</li>
                        <li><strong>Pilihan Network Enterprise Engineer</strong></li>
                        <li>Internet of Things (IOT)</li>
                        <li>Jaringan VOIP</li>
                        <li>Proyek Jaringan Komputer</li>
                        <li>Implementasi Proyek Jaringan Komputer</li>
                        <li>Network Otomatisasi Scripting</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 px-0">
                      <div class="font-smstr bg-color">Semester 8</div>
                      <ul class="style-bg style-list">
                        <li>Tugas Akhir</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="mb-0">
                <div class="title"><strong class="mb-1">Email Layanan</strong><span> :Teknik Informatika : teknikinformatika@undira.ac.id</span></div>
              </li>
              <li class="mb-1">
                <div class="title"><strong>Serta informasi/program lainnya yang perlu ditampilkan pada halaman website. Logo Academy yang sudah bergabung:</strong></div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end faculity -->
    <!-- footer -->
    <div class="container-fluid set-height color-footer">
      <div class="container pt-5">
        <h1 class="fs-4">Universitas Dian Nusantara</h1>
        <div class="campus-location">
          <img class="img-campus" src="/image/akademik/campus.jpg" alt="campus" />
          <h1 class="fs-4">Kampus Tanjung Duren</h1>
          <p class="fs-6">
            JI Tanjung Duren Barat II No 1 <br />
            Grogol Jakarta Barat. <br />
            No.Telp: 021-21194454
          </p>
          <h1 class="fs-4">Kampus Green Ville</h1>
          <p class="fs-6">
            JI. Mangga 14, No 3 Kec Kebon Jeruk Jakarta <br />
            Barat, 11510
          </p>
          <h1 class="fs-4">Kampus Cibubur</h1>
          <p class="fs-6">
            Jl. Rawa Dolar 65 Jatiranggon, Kec<br />
            Jatisampurna, Bekasi <br />
            No.Telp: 021-22176334
          </p>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center set-all">
      <p>©Copyright UNDIRA 2022. All Right Reserved</p>
    </div>
    <!-- end footer -->

    <!-- js bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha284-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
