<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/image/favicon.jpg" type="image/x-icon" />
    <!-- font google -->
    <link href="https://fonts.googleapis.com/css2?family=Palanquin&family=Poppins:wght@400&display=swap" rel="stylesheet" />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css -->
    <link rel="stylesheet" href="/css/event/event.css" type="text/css" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha284-T2c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Event</title>
  </head>
  <body>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container-fluid">
        <a class="navbar-brand pe-3" href="#">
          <img src="/image/logo nav.jpg" alt="logo-nav" width="200" height="50" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">TENTANG</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Fasilitas</a></li>
                      <li><a class="dropdown-item" href="#">Lab Komputer</a></li>
                      <li><a class="dropdown-item" href="#">Auditorium</a></li>
                      <li><a class="dropdown-item" href="#">Poliklinik</a></li>
                      <li><a class="dropdown-item" href="#">Ruang Kelas</a></li>
                      <li><a class="dropdown-item" href="#">Ruang Radio</a></li>
                      <li><a class="dropdown-item" href="#">Perpustakaan</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">ADMISI PENDAFTARAN</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Regular I</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Regular II</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">PROGRAM/AKADEMIK</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Fakultas Teknik Dan Informatika</a></li>
                      <li><a class="dropdown-item" href="#">Teknik Electro</a></li>
                      <li><a class="dropdown-item text-primary" href="/views/akademik/index.html">Teknik Informatika</a></li>
                      <li><a class="dropdown-item" href="#">Teknik Mesin</a></li>
                      <li><a class="dropdown-item" href="#">Teknik Sipil</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">KANTOR/LAYANAN</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">DUNIA KAMPUS</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Tentang Undira</a></li>
                      <li><a class="dropdown-item" href="#">Sambutan Rektor</a></li>
                      <li><a class="dropdown-item" href="#">Sekilas</a></li>
                      <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                      <li><a class="dropdown-item" href="#">Panduan Logo</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="menubar" data-bs-toggle="dropdown" aria-expanded="false">BERITA&ACARA</a>
              <ul class="dropdown-menu mega-menu">
                <div class="row mx-auto" style="width: 1200px">
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">Info Undira</a></li>
                      <li><a class="dropdown-item" href="#">Undira Peduli</a></li>
                      <li><a class="dropdown-item" href="#">Covid</a></li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item text-primary" href="/views/event/index.html">Event</a></li>
                      <li><a class="dropdown-item" href="#">Webinar</a></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </li>
          </ul>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-secondary mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-magnifying-glass"></i></button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <a class="navbar-brand" href="#">
            <img src="/image/indonesia.png" alt="logo-nav" width="50" height="35" />
          </a>
          <a class="navbar-brand" href="#">
            <img src="/image/inggris.jpg" alt="logo-nav" width="50" height="35" />
          </a>
        </div>
      </div>
    </nav>
    <!-- end navbar -->
    <h1>Event</h1>

    <!-- js bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha284-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
